.upcomingmatchblock{
    
    margin-left : 10vw;
    margin-right: 10vw;
    
    border : 2px solid black;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(197, 202, 202, 0.446);
    border-radius: 25px;
    display: grid;
    grid-template-areas:
    'number team1 versus team2 time'
    'number input1 versus  input2 button'
    'number . versus footer footer';
    
    grid-gap: 0px;

}

a{
    color:white;
    text-decoration: none;
}

.matchblockteam1{
    font-family: 'Anton', sans-serif;
    background: #ff6666;
    grid-area: team1;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-content: center;
    text-align: center;
}
.matchblockversus{
    font-family: 'Anton', sans-serif;
    grid-area: versus;
    align-content: center;
    text-align: center;
   
    font-size: 50;
    color: white;
    background: black;
    border-radius : 50px;
}
.matchblockteam2{
    font-family: 'Anton', sans-serif;
    background: #6699ff;
    grid-area: team2;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-content: center;
    text-align: center;
}
.matchblocktime{
    font-family: 'Anton', sans-serif;
    grid-area: time;
    color: white;
    align-content: center;
    text-align: center;
    background: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.space{
    grid-area: space;
}


.matchblockinput1{
    font-family: 'Anton', sans-serif;
    grid-area:input1;
    background: #ff6666;
    align-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-content: center;
    text-align: center;

}

.matchblockinput2{
    font-family: 'Anton', sans-serif;
    grid-area:input2;
    background: #6699ff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-content: center;
    text-align: center;

}

.matchblockfooter{
    font-family: 'Anton', sans-serif;
    grid-area: footer;
    align-content: center;
    text-align: center;
}

.matchblocknumber{
    font-family: 'Anton', sans-serif;
    grid-area: number;
    text-align: center;
    
    font-size: 50;
    color: white;
    background: black;
    border-radius : 50px;
    width:200px;
    
}

.matchbutton{
    font-family: 'Anton', sans-serif;
    grid-area: button;
    background-color: black;
    
    border: none;
    color: black;
    padding:8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.matchinput{
    font-family: 'Anton', sans-serif;
    height: 100%;
    border:3px black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20;
    
}

input{
    text-align:center;
 }

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }