body 
{
    background: url(images/Background.jpg);
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
    font-size:16px;
    height: device-height;
    width: device-width;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

#mastercontainer
{
    width:70%;
    height:250px;
    padding:0px;
    background:#fefefe7c;
    margin:0 auto;
    border:1px solid #c4cddb;
    border-top-color:#d3dbde;
    border-bottom-color:#bfc9dc;
    box-shadow:0 1px 1px #ccc;
    border-radius:5px;
    position:relative;
}

#infocontainer
{
    width:40%;
    padding:7px;
    background:#555555;
    margin:0;
    border:1px solid #919191;
    border-top-color:#b8b8b8;
    border-bottom-color:#b8b8b8;
    box-shadow:0 1px 1px rgb(175, 175, 175);
    border-radius:5px;
    position:relative;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li 
{
    margin:0;
    padding:0;
    list-style-type:none;
}